<h1>Toy Production Order Manager</h1>

<h3>Placed Orders</h3>
<ul>
    {{#each orders}}
        {{#unless completed}}
         {{> partial status=true}}
        {{/unless}}
    {{/each}}
</ul>

<h3>Completed Orders</h3>
<ul>
    {{#each orders}}
        {{#if completed}}
            {{> partial status=false}}
        {{/if}}
    {{/each}}
</ul>

<h3>Add An Order</h3>
<form>
    <label for="orderItem">Item Ordered:</label>
    <input type="text" id="orderItem">
    <button type="submit" id="subForm">Add Order</button>
</form>


