<h1>Toy Production Order Manager</h1>

<h3>Placed Orders</h3>
<ul>
    {{#each orders}}
    <li>{{order_item}} 
        {{> partial completed=true}}
    </li>

    {{/each}}
</ul>

<h3>Add An Order</h3>
<form>
    <label for="orderItem">Item Ordered:</label>
    <input type="text" id="orderItem">
    <button type="submit" id="subForm">Add Order</button>
</form>

<h3>Completed Orders</h3>
